{% extends "blog/base.html" %}
{%  block content %}
    {% if contagem != 0 %}
        <h1>Certificados Emitidos</h1>
        {% load static %}
        {% for certificado in certificados %}
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <small><strong>Serial: {{ certificado.serial }}</strong></small>
                    <small class="text-muted">Issuer: {{ certificado.issuer }}</small>
                </div>
                <label for='cert_subject'>Subject:</label><br> 
                <textarea id='cert_subject' cols='60' rows=2>{{ certificado.subject }} </textarea><br>
                <label for='textbox'>Certificado:</label><br> 
                <textarea id='textbox' cols="90" rows="5" class="article-content">{{ certificado.certificado }}</textarea>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <h3>Não há certificados emitidos no Banco de Dados</h3><br>
        <a href="/certificado_digital">Crie o seu Certificado Digital...</a>
    {% endif %}
{%  endblock content %}
